@charset 'utf-8';

:root {
  --mw: 1440px;
  --main_black: #333333;
  --main_white: #ffffff;
  --sub_gray_light: #aaaaaa;
  --sub_gray_dark: #656565;
  --point_c1: #1b5ec7;
  --point_c2: #f4bb5f;
}
body,
a,
p,
h2,
span {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--main_black);
}
.mw {
  max-width: var(--mw);
  margin: auto;
  padding: 0 1rem;
}
.wrapper {
  overflow: hidden;
}
/* header */
.hd {
  padding-top: calc(4rem - 4px);
  padding-bottom: 30px;
}
.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.menu-left {
  display: flex;
  align-items: center;
}
.menu-left img {
  padding-right: 30px;
}
.gnb_text {
  padding-right: 30px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.gnb_text:hover::after {
  width: calc(100% - 10px);
}
.gnb_text::after {
  content: "";
  background-color: var(--point_c1);
  position: absolute;
  top: 130%;
  left: -10px;
  width: 0;
  height: 3px;
  transition: 0.3s;
}
.menu-right a {
  color: var(--sub_gray_dark);
  padding-left: 30px;
  font-weight: 500;
}
.menu-right a:hover {
  text-decoration: underline;
}
.menu-right i {
  padding-left: 4px;
  color: var(--sub_gray_dark);
}
.ham_btn,
.close_btn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: var(--main_black);
  position: absolute;
  right: 0;
  display: none;
}
/* main-banner */
.banner {
  background-image: url("../img/banner-img.png");
  background-size: cover;
  object-position: center;
  padding: 130px 0;
}
.title p:nth-child(1) {
  font-size: 60px;
  font-weight: 100;
  color: white;
}
.title p:nth-child(2) {
  font-size: 60px;
  font-weight: 500;
  color: white;
  padding-bottom: 30px;
}
.desc p {
  color: white;
  font-weight: 100;
  font-size: 16px;
  padding-bottom: 4px;
}
.sub-btn {
  margin-top: 50px;
  border: none;
  background-color: var(--point_c2);
  padding: 1rem 1.5rem;
}
.sub-btn a {
  font-size: 20px;
  color: white;
  font-weight: 500;
}

/* top-promotion */
.pro {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.choice i {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  font-size: 2rem;
  color: var(--main_black);
}
.pro-title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: var(--main_black);
}
.pro-desc {
  font-size: 18px;
  color: var(--sub_gray_dark);
  text-align: center;
  padding-top: 1rem;
}

/* market */
.market {
  padding-top: 100px;
}
.market h2,
.market > p {
  text-align: center;
}
.market h2 {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 5px;
}
.market h2 span {
  color: var(--point_c1);
}
.market p {
  color: var(--sub_gray_dark);
  padding-bottom: 20px;
}
.market-con {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.market-con a {
  width: calc((100% - 60px) / 4);
}
.cate:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.cate .market-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.cate-title {
  position: relative;
}
.cate-title p {
  font-size: 18px;
  font-weight: 500;
  padding: 20px 10px;
  padding-bottom: 5px;
}
.cate-title img {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cate-desc {
  padding: 0 10px;
  width: 100%;
  height: 50px;
}
.btn {
  display: flex;
  justify-content: center;
}
.market-btn {
  background-color: transparent;
  border: 1px solid var(--main_black);
  padding: 0.5rem 1rem;
}
.market-btn:hover {
  background-color: #f6f6f6;
}
.market-btn a {
  color: var(--main_black);
  font-size: 14px;
}

/* review */
.review {
  padding-top: 100px;
}
.review h2 {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 5px;
}
.review h2 span {
  color: var(--point_c1);
}
.review p {
  color: var(--sub_gray_dark);
  padding-bottom: 20px;
}
.review-slide {
  width: 100%;
  background-color: #f6f6f6;
  padding: 30px 20px;
  overflow: visible;
}
.swiper-wrapper {
  max-width: var(--mw);
}
.swiper-slide {
  margin-bottom: 20px;
  width: 22%;
  height: 400px;
}
.swiper-slide:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.swiper-slide:nth-child(2n) {
  width: 22%;
}
.swiper-slide:nth-child(3n) {
  width: 22%;
}
.review-img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 80%;
}
.review-desc {
  padding: 1rem 0.25rem;
  height: 20%;
}
.review-desc p:nth-child(1) {
  font-size: 14px;
  color: var(--point_c2);
  padding-bottom: 0.5rem;
}
.review-desc p:nth-child(1) span {
  font-size: 12px;
  color: var(--sub_gray_light);
}
.review-desc p:nth-of-type(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}
.go_review {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review_btn {
  background-color: transparent;
  border: 1px solid var(--main_black);
  padding: 0.5rem 1rem;
}
.review_btn:hover {
  background-color: var(--main_white);
}
.next,
.prev {
  position: initial !important;
  margin-top: 0;
  padding: 0 1rem !important;
}
.next::after,
.prev::after {
  font-size: 1rem;
  color: var(--main_black);
}

/* footer */
.footer {
  border-top: 1px solid var(--sub_gray_light);
  margin-top: 100px;
  padding: 40px 0;
}
.footerWrapper {
  position: relative;
}
.ft_logo {
  position: absolute;
  top: 7%;
  width: 120px;
}
.ft1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 9rem;
}
.ft1 h3 {
  font-weight: 500;
}
.iconSNS a {
  background-color: var(--sub_gray_dark);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  color: var(--main_white);
  margin-left: 0.25rem;
}
.ft2 {
  display: flex;
  padding-left: 9rem;
  font-size: 14px;
}
.info1 {
  padding-right: 4rem;
}
.ft3 {
  display: flex;
  margin-top: 1.5rem;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.infoL {
  display: flex;
}
.infoR {
  display: flex;
}
.infoL p {
  padding-right: 1rem;
}
.infoR a {
  padding-left: 1rem;
}
.infoL p,
.infoR a {
  color: var(--sub_gray_light);
}

@media (max-width: 740px) {
  /* gnb */
  .nav_text,
  .menu-right {
    position: fixed;
    right: -60%;
    opacity: 0;
  }
  .ham_btn {
    display: block;
  }
  .nav_text.on {
    background-color: var(--main_white);
    width: 60%;
    opacity: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -10%;
    top: 0;
    z-index: 100;
    padding-top: 15vh;
    padding-left: 2rem;
    transition: 0.3s;
  }
  .gnb_text {
    padding: 1rem;
    position: relative;
  }
  .gnb_text::after {
    top: 100%;
    left: 0;
  }
  .toggle_bg {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 130%;
    left: -30%;
    height: 500%;
    z-index: 90;
    display: none;
  }
  .toggle_bg.on {
    display: block;
  }
  .close_btn {
    z-index: 200;
  }
  .close_btn.on {
    display: block;
  }

  /* banner */
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title,
  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* pro */
  .pro {
    flex-wrap: wrap;
    width: 100%;
  }
  .choice {
    width: 50%;
    padding: 2rem 1rem;
  }
  .pro-title {
    font-size: 20px;
  }
  .pro-desc {
    font-size: 1rem;
  }

  /* market */
  .market p {
    font-size: 14px;
  }
  .market-con {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .market-con a {
    width: calc(100% / 2 - 10px);
    margin-bottom: 20px;
  }

  /* review */
  .review-slide {
    width: 100%;
  }
  .swiper-wrapper {
    max-width: inherit;
  }
  .swiper-slide,
  .swiper-slide:nth-child(2n),
  .swiper-slide:nth-child(3n) {
    width: 90%;
  }

  /* footer */
  .ft_logo {
    width: 80px;
  }
  .ft1 {
    padding-top: 4.5rem;
    padding-left: 0;
  }
  .ft2 {
    padding-left: 0;
    font-size: 14px;
    display: block;
  }
  .ft2 p {
    padding-bottom: 0.25rem;
  }
  .ft3 {
    display: block;
    margin-top: 1rem;
  }
  .infoL {
    display: block;
  }
  .infoL p {
    padding-bottom: 0.25rem;
  }
  .infoR {
    display: block;
  }
  .infoL p {
    padding-right: 0;
  }
  .infoR {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}
