@charset 'utf-8';
a {
  color: black;
}

.hd {
  border: 1px solid red;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}
.logo a {
  border: 1px solid blue;
}
.depth1 {
  display: flex;
  position: relative;
}
.depth1 li {
  border: 1px solid blue;
}
